/* POSITION ABSOLUTE */

.padre {
    background-color: aqua;
}

#boxSelected {
    background-color: rgb(0, 255, 21);
    /* aplicamos la position absolute solo a esta caja y vemos como se mueve mientras las demas pasan a ocupar el lugar que este tenia antes*/
    position: absolute;
    left: 180px;
    bottom: 100px;
}

p {
    color: black;
}

#boxSelected::after {
    content: "position: absolute";
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    font-weight: bold;
}